.main-pane {
  margin-left: 33%;
  margin-right: 33%;
}
.button {
	background-color: #777a86;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}